.pin{
    border-radius: 8px;
    margin: 6px;
    padding: 12px;
    width: 20%;
    position: relative;
    text-decoration: none;
    color: black;
}

.pin a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.253);
    padding: 6px;
    border-radius: 6px;
}

.pin img{
    border-radius: 8px;
    margin: 0;
}

.fa-thumbtack{
    margin-right: 4px;
}

.guardar-btn{
    padding: 12px;
    background-color: rgb(233, 31, 31);
    color: white;
    border-radius: 6px;
    border: none;
    position: absolute;
    top: 8%;
    right: 8%;
    transition: all 0.4s;
    opacity: 0;
}

.guardar-btn:hover{
    background-color: rgb(197, 23, 23);
    border-radius: 6px;
    cursor: pointer;
}

.pin:hover{
    background: rgba(128, 127, 127, 0.315);
}